@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=4dbbe6f2-46bb-4b9d-a42d-7336f9b73241");
@font-face{
    font-family:"TradeGothic";
    src:url("../fonts/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix");
    src:url("../fonts/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix") format("eot"),
    url("../fonts/1ba28851-f34b-4cb8-bf58-6a4b160ba249.woff2") format("woff2"),
    url("../fonts/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff"),
    url("../fonts/616c4c87-a077-43f4-a9f4-f01267c13818.ttf") format("truetype"),
    url("../fonts/c901ad5f-a842-4549-a1f4-583a97f7e169.svg#c901ad5f-a842-4549-a1f4-583a97f7e169") format("svg");
}
@font-face{
    font-family:"FranklinGothic";
    src:url("../fonts/d534f828-e70e-44ad-9256-0063bfd76f53.eot?#iefix");
    src:url("../fonts/d534f828-e70e-44ad-9256-0063bfd76f53.eot?#iefix") format("eot"),
    url("../fonts/641461ef-c567-416a-90d3-266c03892746.woff2") format("woff2"),
    url("../fonts/54b4b724-8acf-4931-ac8c-1df0c3fd7f2c.woff") format("woff"),
    url("../fonts/273eb8b2-62ff-40b0-aff6-46376431eae1.ttf") format("truetype"),
    url("../fonts/45a74047-2fa0-4ddf-be6b-0cdbd7645f60.svg#45a74047-2fa0-4ddf-be6b-0cdbd7645f60") format("svg");
}

@import url('https://fonts.googleapis.com/css?family=RobotoRoboto:400,400i,700,700i,900,900i');
